<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="keywords" 
        content="Shahid Siddiqui,Shahid,Siddiqui,Shahid_92"
    />
    <meta 
        name="description" 
        content="this is just my profile"
    />
    <meta 
        name="author" 
        content="Shahid"
    />
    <meta 
        name="robots" 
        content="index,follow"
    />
    <title>&#10024;Happy Christmas &#10024;</title>
    <link rel="icon" type="image/x-icon" href="/img/download.jpg">
    <link 
          rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
    <style>
       
    </style>
</head>
<body>
   <header>
      <img 
        class="img-fluid"
        src="https://www.animatedimages.org/data/media/333/animated-christmas-tree-decorations-image-0026.gif"
        alt="decroees" />
      <img
        class="rounded mx-auto d-block" 
        src="https://www.animatedimages.org/data/media/570/animated-merry-christmas-image-0072.gif" 
        alt="animated-merry-christmas-image-0072" />
   </header>
      

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                  </div>
                  <a href="https://web.whatsapp.com/send?phone=918004935944&amp;text=Hi, I would like to get more information..&amp;url=https://shahid92.netlify.app"  class="btn btn-primary">Share</a>
                </div>
        </div>
        </div>
   <div>
        <div class="card text-center">
            <div class="card-header">
            From Shahid
            </div>
            <div class="card-body">
            <h5 class="card-title">A Happy Christmas</h5>
            <p class="card-text" id="wish"></p>
            <button  class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Wish Someone &#127885; </button>
            </div>
            <div class="card-footer text-muted">
            Built with &#128150; by <a href="https://shahid92.netlify.app">Shahid</a>
            </div>
        </div>
      
      <blockquote class="blockquote">
        <p class="mb-0">" Nothing ever seems too bad, too hard, or too sad when you've got a Christmas tree in the living room."</p>
        <footer class="blockquote-footer">credit to the <cite title="Source Title">Author</cite> who wrote it.&#128526;</footer>
      </blockquote>
   </div>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<script>
  
  quoteArray = ["The gift of love. The gift of peace. The gift of happiness. May all these be yours at Christmas.",
                "May the peace and blessings of Christmas be yours; And may the coming year be filled with happiness.",
                "May the Christmas season fill your home with joy, your heart with love, and your life with laughter.",
                "May all the sweet magic of Christmas conspire to gladden your heart and fill every desire.",
                "May this Christmas end the present year on a cheerful note and make way for a fresh and bright New Year. Have a very Merry Christmas and a Happy New Year!",
                "May the good times and treasures of the present become the golden memories of tomorrow. Wishing you lots of love, joy and happiness. Merry Christmas!",
                "May the blessings of peace, good will, and happiness be with you at Christmas and always.",
                "Merry Christmas and best wishes for a Happy New Year",
                "This Christmas card is packed full of virus-free love & blessing just for you! We hope you have a very Merry Christmas despite this lockdown, and that we can see you again soon. Until then, cheers to you from afar for your good health and happiness!"
               ]

    let l = quoteArray.length
    let n = Math.floor(Math.random() * l)
    
    document.getElementById('wish').innerText = quoteArray[n]

</script>